<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_QueryService" maxReceivedMessageSize="10485760" receiveTimeout="00:05:00"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vocadb.net/Services/QueryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_QueryService" contract="VocaDbService.QueryService" name="BasicHttpBinding_QueryService"/>
        </client>
    </system.serviceModel>
</configuration>
